/*

COLORS
#D7598B:pink
#8BC24A:dark green
#E4FFA3:light green
#ffffff:white
#454545:very dark grey

*/

.bg-dark {
  background: #D7598B!important; /*Makes top nav pink */
}

footer.py-5 {
  background: #E4FFA3!important; /*Makes footer light green */
  border-top: 2px solid #8BC24A;
  line-height: 1.5em;
}

p.footerinfo {
  margin-bottom: 20px!important;
}

a.googlemap {
  text-decoration: underline;
}

a.googlemap:hover, a.phone:hover {
  color: #454545;
}


.card-text {
  font-size: 1.1em;
}

.card-body {
  background: #E4FFA3;
  border-top:2px solid #8BC24A;
  border-left:2px solid #8BC24A;
  border-right:2px solid #8BC24A;
}

.card-footer {
  background: #d7598b;
}

.card-title {
  /*font-weight: bold;*/
  color: #454545;
}

.btn {
  color: #454545!important;
  font-size: 1.2em;
}

.btn:hover {
  font-weight: normal;
}

.smalldogs {
  background: #8BC34A;
}

.outside {
  border: 10px solid #8BC24A;
}

.address {
  font-size: 1.15em;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.phone {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-right: 10px;
}

.greektitle {
  font-size: 1.6em;
}

/* Nav bar */
a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.fa {
  color: #E4FFA3;
  margin-left: 10px;
}

.fa:hover {
  color: #fff;
}

.language {
  color: #E4FFA3;
}

body > nav {
  height: 60px;
}
